body {
    background-color: #c28ae7;
    margin: 10% 20%;
    color: #ecb8a5;
    font-family: Arial, "sans serif";
}

h1 {
    padding-bottom: 5%;
    font-size: 40px;
    font-family: 'Fresca', sans-serif;
}

header {
    padding: 0;
    margin: 0 15%;
    color: #904c77;
}

.CheckBox {
    padding: 10%;
    margin: 5%;
    background-color: #904c77;
    text-align: center;
    border-radius: 20px;
    color: rgb(0, 255, 136);
    text-shadow: 0 0 15px rgb(255, 0, 234), 0 0 25px rgb(255, 0, 255);
    animation: animate 1.5s linear infinite;
}

@keyframes animate {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

input,
button {
    margin: 2%;
}

#rules {
    padding-top: 2%;
    display: none;
}

#rules ul li {
    text-align: left;
}

#error {
    color: red;
    display: none;
}